@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --cor-principal: #040D12;
  --cor-secundaria: #d2dad7;
  --cor-terciaria: #5C8374;
  --cor-hover: #183D3D;

  --font-primaria: 'Krona One', sans-serif;
  --font-secundaria: 'Montserrat', sans-serif;
}

* {
  margin: 0; /* Remove as margens que vem automaticamente */
  padding: 0; /* Remove padding padrão do site (todo site ja vem com esses presets) */
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */

.container::-webkit-scrollbar { 
    display: none;  /* Older Safari and Chromium */
}
}

body {
  /* height: 100vh; */
  box-sizing: border-box; /* Inclui bordas e padding na largura e altura totais dos elementos */
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
}

.cabecalho {
  padding: 2% 0 0 15%; /* Margem superior de 2% e lateral esquerda de 15% */
}

.cabecalho__menu {
  display: flex; /* Usando flexbox para layout */
  gap: 32px; /* Espaço entre os itens do menu */
}

.cabecalho__menu__link {
  font-family: var(--font-secundaria);
  font-size: 1.5rem; /* 1 rem = 16px */
  font-weight: 600;
  color: var(--cor-terciaria);
  text-decoration: none; /* Remove o sublinhado do link */
}

.imagem__teste {
  border-radius: 20px; /* Muda as bordas da imagem */
  width: 50%;
}

.apresentacao {
  padding: 5% 15%; /* Margem superior e inferior de 10% e laterais de 15% */
  display: flex; /* Usando flexbox para layout */
  align-items: center;
  justify-content: space-between; /* Espaço entre os itens */
  gap: 82px;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column; /* Itens em coluna */
  gap: 40px; /* Espaço entre os itens */
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem; /* 1 rem = 16px */
  font-family: var(--font-primaria); 
}

.titulo-destaque {
  color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
  font-size: 1.5rem;
  font-family: var(--font-secundaria);
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.apresentacao__links__subtitulo {
  font-weight: 400;
  font-family: var(--font-primaria);
  font-size: 1.5rem;
}

/* ctrl + K + C para comentar */

.apresentacao__links__navegacao {
  /* background-color: #22d4fd; */
  display: flex;
  justify-content: center; /* Centraliza o texto horizontalmente */
  gap: 16px; /* Espaço entre o texto e a imagem */
  border: 2px solid var(--cor-terciaria); /* Borda azul */
  width: 50%;
  text-align: center;
  border-radius: 8px; /* Deixa as bordas arredondadas */
  font-size: 1.5rem; /* Tamanho da fonte */
  font-weight: 600; /* Aumenta o peso da fonte (e preciso importar pelo google fonts). */
  padding: 21px 0;
  text-decoration: none; /* Remove o sublinhado no texto dos links */
  color: var(--cor-secundaria);
  font-family: var(--font-secundaria);
}

/* hover sobre os botôes */
.apresentacao__links__link:hover {
  background-color: var(--cor-hover); /* Muda a cor de fundo ao passar o mouse */
  transition: 0.3s; /* Transição suave de 0.3 segundos */
}

.rodape{
  padding: 24px;
  color: var(--cor-principal);
  background-color: var(--cor-terciaria);
  text-align: center;
  font-family: var(--font-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 1200px){
  .cabecalho {
    padding: 10%;
  }

  .cabecalho__menu{
    justify-content: center;
  }

  .apresentacao {
    flex-direction: column;
    text-align: center;
  }

  .apresentacao__conteudo, .imagem__teste {
    width: 100%;
  }

  .apresentacao__links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .apresentacao__links__navegacao {
    width: auto;
    padding: 12px 24px;
    font-size: 1.25rem;
  }
}